<!-- HEAD -->
{{block "head".}}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/core.css?v={{random}}">
    <link href="/static/fw/fontawesome512/css/all.css" rel="stylesheet"> <!--load all styles -->
    <link href="/static/fw/bulma/css/bulma.css" rel="stylesheet"> <!--bulma FW -->
    <script src="/static/js/core.js"></script>
    <script defer src="/static/fw/fontawesome512/js/all.js"></script> <!--load all styles -->
    <meta charset="UTF-8">
    <title></title>
</head>
<body class="t-body">
{{end}}



<!-------------------------------------------------------------
                +----  BLOCK :: START HEADER -->
------------------------------------------------------------->
{{block "root".}}

    <!-- HEADER  -->
        <div class="box" style="background-color: #1d72aa; color: #b8fff4; text-align: center;">
            +++`. ВЕБМОРДА-ВРАППЕР ДЛЯ ЗАПУСКА СКРИПТА ПО ВЫГРУЗКЕ ДАННЫХ .`+++
        </div>

    <!-- WRAPPER -->
    <div class="wrapper1">
        <div class="box">
            <ol class="">
                <!-- FRLLO -->
                <li><a href="/frllo">Сформировать
                        отчет-выгрузку льготных рецептов в части наполнения
                        журнала льгот и Федерального регистра граждан (ФРЛЛО) </a></li>

            </ol>
        </div>
    </div> <!-- wrapper1 -->

{{end}}
<!-------------------------------------------------------------
                --+ FRLLO websocket - разовая проверка +--
------------------------------------------------------------->
{{block "frllo".}}
{{$config := .DATA.stock.config}}

{{/*    Example info from yaml config: {{$config.ServerJSWS}}*/}}
<script>
    let readystrconnect = "ws://" +  {{$config.AdressHTTP}} +"/ws/frllo";
    let gconnect = new WebsockFRRLO(readystrconnect);

</script>

<!-- статус вебсокета -->
<div class="box" style="padding-top: 20px;">

    <a href="/"> <<< В ГЛАВНОЕ МЕНЮ </a>
    <h4 class="title is-4">    <span class="" id="connicon">
            [+] <span class="smalltext"> статус соединения по вебсокету с сервером</span>
            </span>

</div>

    <div class="box">
        <!-- -->
        <button class="button is-primary is-info" onclick="gconnect.RunScript(this);" id="runscript">
            проверить все сервера
        </button>
    </div>


    <!-- основной режим работы - периоды -->
    <div class="box">

    <!-- начало периода -->
        <label for="start">период:</label>
        <input type="date"  name="trip-start" id="defStart"
{{/*               value="2018-07-22"*/}}
               min="2000-01-01" max="2100-12-31"> <...>

        <!-- конец периода -->
        <input type="date"  name="trip-start" id="defEnd"
{{/*               value="2018-07-22"*/}}
               min="2000-01-01" max="2100-12-31">

        <!-- запустить  -->

        <button class="button is-primary is-info" onclick="gconnect.RunDefault(this);" id="runscript">
            запуск
        </button>

    </div>

    <!-- режим выгрузки детей до 3-х лет -->
    <div class="box">
        work1
    </div>

    <!-- режим побуквенной выгрузки -->
    <div class="box">
        work1
    </div>

    <!-- режим выгрузки с учетом /без учета рецептов -->
    <div class="box">
        work1
    </div>

    <!-- логирование работы скрипта  -->
    <div class="box">
        work1
    </div>

    <!-- изменить рабочую директорию срикпта -->
    <div class="box">
        work1
    </div>

    <!-- (?) режим формирования статистики -->
    <!-- (?) режим формирования суммарного итогового exel файла -->



    {{/*    <div class="box checkserverbox">*/}}
    {{/*        <!-- кнопка обновить список серверов из БД -->*/}}
    {{/*        <button class="button is-primary is-info" onclick="gconnect.updateServerList(this);" id="btnupdate">*/}}
    {{/*            получить/обновить список бд из filials*/}}
    {{/*        </button>*/}}
    {{/*        <br>*/}}
    {{/*        <i>время формирования списка серверов: <span id="timeupdate"></span> </i>*/}}


    {{/*        <div class="box">*/}}
    {{/*            <div class="columns">*/}}
    {{/*                <div class="column">*/}}
    {{/*                    <!-- timeoutTCP -->*/}}
    {{/*                    <input class="input" type="number" placeholder="10" id="timeoutTCP">*/}}
    {{/*                    <span class="smalltext">таймаут в секундах для проверки доступности хоста при tcp коннекте (обычные бд) </span>*/}}
    {{/*                </div>*/}}
    {{/*                <div class="column">*/}}
    {{/*                    <!-- timeoutCTX -->*/}}
    {{/*                    <input class="input" type="number" placeholder="10" id="timeoutCTX">*/}}
    {{/*                    <span class="smalltext">таймаут в секундах для проверки "зависиших баз" `longtime query` (обычные бд) </span>*/}}

    {{/*                </div>*/}}
    {{/*                <div class="column">*/}}
    {{/*                    <!-- timeoutTCPZBD -->*/}}
    {{/*                    <input class="input" type="number" placeholder="10" id="timeoutTCPZBD">*/}}
    {{/*                    <span class="smalltext">таймаут в секундах для проверки доступности хоста при tcp коннекте (цбд, имеющий выставленный флаг `filials.ismain`) </span>*/}}
    {{/*                </div>*/}}
    {{/*                <div class="column">*/}}
    {{/*                    <!-- timeoutCTXZBD -->*/}}
    {{/*                    <input class="input" type="number" placeholder="10" id="timeoutCTXZBD">*/}}
    {{/*                    <span class="smalltext">таймаут в секундах для проверки "зависиших баз" `longtime query` (цбд) </span>*/}}
    {{/*                </div>*/}}
    {{/*            </div>*/}}
    {{/*            <button class="button is-primary is-info" onclick="gconnect.updateTimers(this);" id="updateTimers">*/}}
    {{/*                обновить таймеры для новых проверок*/}}
    {{/*            </button>*/}}
    {{/*            <br>*/}}
    {{/*            <span id="updatetimerspan"></span>*/}}
    {{/*        </div>*/}}


    {{/*        <!-- триггер для показа панели со списком серверов для исключения отдельных для проверки -->*/}}
    {{/*        <button class="button" onclick="gconnect.checklistShow(this);">исключить сервера</button>*/}}

    {{/*        <!-- панель со списком серверов для исключения в проверке -->*/}}
    {{/*        <div class="box" id="listcheck" style="display: none;">*/}}
    {{/*            <div class="columns" id="listbox">*/}}

    {{/*            </div>*/}}
    {{/*        </div>*/}}


    {{/*        <!-- ----------------------- -->*/}}
    {{/*        <hr>*/}}

    {{/*        <!-- кнопка старт событийной цепочки -->*/}}
    {{/*        <button class="button is-primary is-info" onclick="gconnect.startCheckLPU(this);" id="btnlpu">*/}}
    {{/*            проверить бд ЛПУ*/}}
    {{/*        </button>*/}}

    {{/*        <!-- кнопка старт событийной цепочки -->*/}}
    {{/*        <button class="button is-primary is-info" onclick="gconnect.startCheckZOD(this);" id="btnzod">*/}}
    {{/*            проверить бд ЦОД*/}}
    {{/*        </button>*/}}


    {{/*        <!-- кнопка старт событийной цепочки -->*/}}
    {{/*        <button class="button is-primary is-info" onclick="gconnect.startCheckALL(this);" id="btnall">*/}}
    {{/*            проверить все сервера*/}}
    {{/*        </button>*/}}

    {{/*        <!-- кнопка остановка выполнения -->*/}}
    {{/*        <button class="button is-primary is-info" onclick="gconnect.stopEvent(this);" id="stop" disabled>*/}}
    {{/*            остановка*/}}
    {{/*        </button>*/}}
    {{/*        <hr>*/}}


    {{/*        <!-- информация по количеству БД из конфига -->*/}}
    {{/*        <i style="font-size: 20px; font-weight: bold;">*/}}
    {{/*            БД (всего): <span id="infobd">0</span> ::: проверено <span id="checked">0</span>*/}}
    {{/*        </i>*/}}
    {{/*        <hr>*/}}

    {{/*        <!--  -->*/}}
    {{/*        <div class="table-container">*/}}
    {{/*            <table class="table">*/}}
    {{/*                <!-- head -->*/}}
    {{/*                <thead>*/}}
    {{/*                <tr>*/}}
    {{/*                    <th>filid</th>*/}}
    {{/*                    <th>хост</th>*/}}
    {{/*                    <th>ошибка</th>*/}}
    {{/*                    <th>время</th>*/}}
    {{/*                </tr>*/}}
    {{/*                </thead>*/}}
    {{/*                <!-- body -->*/}}
    {{/*                <tbody id="list">*/}}

    {{/*                </tbody>*/}}
    {{/*            </table>*/}}
    {{/*        </div>*/}}


    {{/*    </div>*/}}

    {{end}}


    <!-- FOOTER -->
    {{block "footer".}}
        <div class="columns t-footer">
            <div class="column">dfgdfdfg</div>
        </div>
    {{end}}


    <!-- END -->
    {{block "end".}}
</body>
</html>
{{end}}
